# Table of Contents
### 1. Importing Libraries
### 2. Importing Data
### 3. Merging Data
### 4. Exporting Data

# 01. Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [2]:
# Creating Path
path = r'/Users/mattwawner/Documents/8-2022-Instacart Basket Analysis'

In [3]:
# Importing Orders Data
df_orders = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'cleaned_orders_data.csv'), index_col = [0])

In [4]:
# Importing Prior Orders Data
df_orders_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [5]:
df_orders_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df_orders.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,7.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [7]:
df_orders_prior.shape

(32434489, 4)

In [8]:
df_orders.shape

(3421083, 6)

# 03. Merging Data

In [9]:
# Merging df_orders & df_orders_prior
df_merged_large = df_orders.merge(df_orders_prior, on ='order_id', indicator = True)

In [10]:
# Checking merged data
df_merged_large.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196,1,0,both
1,2539329,1,1,2,8,7.0,14084,2,0,both
2,2539329,1,1,2,8,7.0,12427,3,0,both
3,2539329,1,1,2,8,7.0,26088,4,0,both
4,2539329,1,1,2,8,7.0,26405,5,0,both

In [11]:
# Checking where values were pulled from
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

# 04. Exporting Data

In [12]:
# Exporting data
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [13]:
df_merged_large.shape

(32434489, 10)