# Table of Contents
### 1. Importing Libraries
### 2. Importing Data
### 3. Checking Data
### 4. Merging Data
### 5. Exporting Data

# 01. Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [2]:
# Creating Path
path = r'/Users/mattwawner/Documents/8-2022-Instacart Basket Analysis'

In [3]:
# Importing df_orders_products_combined
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# Checking the shape of df_orders_products_combined
df_orders_products_combined.shape

(32434489, 10)

In [5]:
# Importing df_prods
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'cleaned_products_data.csv'), index_col=[0])

# 03. Checking Data

In [6]:
# Checking df_orders_products_combined
df_orders_products_combined.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196,1,0,both
1,2539329,1,1,2,8,7.0,14084,2,0,both
2,2539329,1,1,2,8,7.0,12427,3,0,both
3,2539329,1,1,2,8,7.0,26088,4,0,both
4,2539329,1,1,2,8,7.0,26405,5,0,both

In [7]:
# Checking df_prods
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
# Checking number of rows & columns in df_prods
df_prods.shape

(49677, 5)

# 04. Merging Data

In [9]:
# Dropping _merge column from df_orders_products_combined
df_orders_products_combined = df_orders_products_combined.drop(columns = ['_merge'])

In [10]:
# Merging Data
df_orders_products_merged=df_prods.merge(df_orders_products_combined, on = 'product_id', indicator = True)

In [11]:
# Checking the first 5 entries for the newly merged data
df_orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,7.0,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [12]:
# Checking the number of columns & rows in the new dataframe
df_orders_products_merged.shape

(32406041, 14)

# 05. Exporting Data

In [13]:
# Exporting data
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))